<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="knockout-app" class="card">
        <h2>Items</h2>
        <ul data-bind="foreach: items">
           <li data-bind="text: $data"></li>
        </ul>   
        <loading-button params="buttonText: 'Get All Items', 'action': fetchItems, 'onDone':onNewItems "></loading-button>
     </div>
    <script src="index.js"></script>
</body>
</html>